:root {
  --blue: #ffffff;
  --grey: #667678;
  --black: #000000;
  // dark
  --alpha: #3c9fab;
  --beta: #245f66;
  --gamma: #183f44;
  --delta: #0c1f22;

  // light
  --alpha: #3c9fab;
  --beta: #62b2bb;
  --gamma: #8ac5cc;
  --delta: #d8ebee;
}
