@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);

:root {
  --white: #ffffff;
  --grey: #667678;
  --black: #000000;
  --alpha: #3c9fab;
}
@mixin light-theme() {
  --beta: #62b2bb;
  --gamma: #8ac5cc;
  --delta: #d8ebee;
  --text: var(--black);
}

@mixin dark-theme() {
  --beta: #245f66;
  --gamma: #183f44;
  --delta: #0c1f22;
  --text: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme();
  }
}

@media (prefers-color-scheme: light) {
  :root {
    @include light-theme();
  }
}

[data-theme='light'] {
  @include light-theme();
}

[data-theme='dark'] {
  @include dark-theme();
}

body {
  background-color: var(--delta);
  font-family: Lato;
  color: var(--text);
}

.container {
  background-color: var(--beta);
  margin: 5em;
  padding: 5em;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'title switch'
    'content content';

  h1 {
    margin: 0;
  }

  p {
    grid-area: content;
    font-size: 1.1em;
    line-height: 1.8em;
    margin-top: 2em;
  }
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--alpha);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}
