.sb-show-main.sb-main-padded {
    padding: 0
}

main {
    background: var(--background-color-primary);
    display: block;
    height: 100vh;
    padding: 20px;
}

.side-by-side {
    main {
        width: 50vw;
        float: left;
    }
}
